body, html {
    padding-top: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 { 
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3, h4 { 
    font-size: 22px;
}

h5 {
    font-size: 18px;
}


/* Navigation */

#menu a.navbar-brand {
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
    color: #cc4125;
    font-weight: 700;
}


/* Wrapper & Main */

#main td.empty-table {
    text-align: center;
}

#content-header {
    margin-bottom: 36px;
}

#content-header a.btn{
    font-size: 14px;
}


/* New sale page */

#coupon-redemption-card {
    background-color: #dddddd;
}

#customer-validation-card {
    background-color: #dddddd;
}

#customer-validation-card p {
    font-size: 14px;
}

#validation-instruction p{
    padding-top: 89px;
    padding-bottom: 90px;
}

.coupon-option {
    margin-bottom: 5px;
}


/* General styling - Listing data pages */

.pagination {
    font-size: 14px;
    margin-bottom: 20px;
}


/* General styling - Individual data pages */

.disclaimer {
    font-size: 5px !important;
}


/* General styling - Editing & New data pages */

#secondary-controls {
    margin-left: 10px;
    font-size: 14px;
}

#secondary-controls a {
    margin-left: 6px;
    margin-right: 6px;
}


/* Footer */

footer {
    font-size: 14px;
    text-align: center;
}