{% extends 'registration/base.html' %}
{% load humanize %}
{% load django_bootstrap5 %}

  {% block page_header %}
    <div class="row justify-content-center">
      <div class="col-4"><h1 id="logo">ES MVP</h1></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 pb-2 border-bottom"><h5>Point-of-Sale App</h5></div>
    </div>
  {% endblock page_header %}
  
  {% block content %}
    <div class="row justify-content-center">
      <div class="col-4">
        <form action="{% url 'accounts:login' %}" method='post'>
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Login" %}
          <span id="secondary-controls">
            <a href="{% url 'es_mvp:home' %}">Cancel</a>
          </span>
        </form>
      </div>
    </div>
  {% endblock content %}
